/Solucion_Codigo/Problema1_CapituloLibro/nbproject/private/
/Solucion_Codigo/Problema1_CapituloLibro/build/
/Solucion_Codigo/Problema2_videoClub/build/
/Solucion_Codigo/Problema2_videoClub/nbproject/private/
/Solucion_Codigo/Problema3_Usuario/build/
/Solucion_Codigo/Problema4_Trabajador/nbproject/private/
/Solucion_Codigo/Problema4_Trabajador/build/
/Solucion_Codigo/Problema5_Teatro/nbproject/private/
/Solucion_Codigo/Problema5_Teatro/build/
/Solucion_Codigo/Problema6_Cuenta/nbproject/private/
/Solucion_Codigo/Problema6_Cuenta/build/
